@import url('css_base/header.css');
@import url('css_base/main.css');
@import url('css_base/footer.css');
@import url('css_base/color.css');
@import url('css_base/flex.css');
@import url('css_base/geometry.css');
@import url('css_base/text.css');
@import url('css_base/icons.css');

a:hover {
    opacity:0.5;
}
.hover:hover {
    opacity:0.5;
    cursor:pointer;
}
a:active {
    opacity:0.3;
}
h1 {
    font-family:'Mak';
    color: var(--l1);
    font-weight:900;
    font-size:44px;
}
h2 {
    font-family:'Mak';
    color: var(--l1);
    font-weight:800;
    font-size:36px;
}
h3 {
    font-family:'Mak';
    color: var(--l1);
    font-weight:700;
    font-size:28px;
}
h4 {
    font-family:'Roboto';
    color: var(--l1);
    font-weight:900;
    font-size:26px;
}
li {
    color: var(--l3);
    font-family:'Roboto';
    font-weight:500;
    font-size:20px;
}
p {
    color: var(--l2);
    font-family:'Roboto';
    font-weight:300;
    font-size:20px;
    display:flex;
}
span {
    color: var(--l2);
    font-weight:300;
    font-family:'Roboto';
    font-size:20px;
}
.text__difference {
    color: var(--l1);
    mix-blend-mode: difference;
}

/* layout */

.title {
    padding:10px;
}
.subtitle {
    padding:10px;
}
.chapter {
    padding:10px;
}

.link {
    display:flex;
    width:100%;
}
.link a {
    border-radius:5px;
    width:100%;
    height:100%;
    padding:5px;
    background: var(--l1);
    font-weight:900;
    text-align:center;
}
.link a * {
    color: var(--l4);
}
.img_contain {
    object-fit:contain;
}
.img_cover {
    object-fit:cover;
}
.img_fill {
    object-fit:fill;
}


.back_post {
    background:var(--l4);
    padding:5px;
    border-radius:5px;
}

