@import url('reset.css');
@import url('base.css');
@import url('animation.css');
@import url('page.css');
@import url('include.css');


.hidden {
    overflow:hidden;
}
.hidden img {
    min-width:100%;
}
.rel {
    position:relative;
}
.abs {
    position:absolute;
}

.shadow {
    box-shadow: 0 0 50px -10px var(--title);
    padding: 1.2rem;
}