footer {
    width: 100%;
    background: var(--l1);
    padding:10px;
}
.footer__in {
    min-height:5vh;
    display:flex;
    justify-content:space-around;
    max-width:1280px;
    margin:0 auto;
    gap:20px;
    flex-wrap:wrap;
}
.footer__in h4 {
    color: var(--l4);
}
.footer__in span,
.footer__in p,
.footer__in li {
    color: var(--l3);
}

.footer__item {
    flex:1 1 300px;
    display:flex;
    padding-bottom:20px;
}
