header {
    width: 100%;
    position: sticky;
    z-index: 10;
    top:0;
}
.header__in {
    min-height:5vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    max-width:1280px;
    margin:0 auto;
    gap:5px;
    width: 100%;
    background:var(--header_back);
    position:relative;
}

.header__item {
    display:flex;
    align-items:center;
    padding:5px;
}
.header__ul {
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:5px;
}
.header__a {
    font-size: 18px;
    color: var(--header_text);
    white-space: nowrap;
    padding-top:5px;
    padding-bottom:5px;
}

._cross,
 ._page {
    display:none;
}
._logo {
}
._nav {
}
._source {
    flex:1 1 auto;
}
._callback {
}
._login {
}
._burger {
    display:none;
}

@media (max-width:768px) {
    ._logo,
     ._nav,
      ._callback,
       ._login {
        display:none;
    }
    header {
        top:auto;
        position: fixed;
        bottom: 0;
        left: 0;
        padding:5px;
    }
    ._burger {
        display:flex;
    }
}