.burger {
    display:flex;
    width:30px;
    height:30px;
    justify-content:space-between;
}
.burger span {
    display:flex;
    height:100%;
    width:2px;
    background: var(--l3);
}

.burger__add {
    display:flex;
    flex-wrap:wrap;
    position:fixed;
    min-width:100%;
    height:100%;
    background:var(--l1);
    top:0px;
    left:0px;
    z-index:99;
    padding:20px;
}
.burger__add .header__a span {
    color: var(--l3);
}
.burger__add .header__item {
    flex: 1 1 auto;
}

/* настройка меню в бургере */
.burger__add ._nav {
    flex: 1 1 auto;
}
.burger__add ._nav,
.burger__add ._source,
.burger__add ._callback,
.burger__add ._login,
.burger__add ._cross,
.burger__add ._page {
    display:flex;
    justify-content:flex-end;
}

.burger__add ._page {
    width:100%;
}

.burger__add .header__ul {
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}

.burger__add .header__li {
    display:flex;
    width:100%;
    justify-content:flex-end;
}

.burger__add ._source {
    width:100%;
}

.burger__add ._callback,
 .burger__add ._login,
  .burger__add ._cross {
    display:flex;
    flex: 1 1 40px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.burger__add input {
    height:40px;
}

.burger__add ._login__in {
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.burger__add ._burger {
    display:none;
}
.burger__add .main__image {
    height:250px;
}

.mob__title__page {
    display:none;
}
@media (max-width:768px) {
    .mob__title__page {
        display:flex;
        justify-content:space-around;
        text-align:center;
        position:sticky;
        top:0;
        left:0;
        width:100%;
        background:var(--l4);
    }
}


