.cross {
    display:flex;
    height:30px;
    width:30px;
    position:relative;
}
.cross span {
    display:flex;
    width:100%;
    height:2px;
    background:var(--close);
    position:absolute;
    margin-top:50%;
}
.cross span:nth-child(1) {
    transform:rotate(45deg);
    top:0;
    left:0;
}
.cross span:nth-child(2) {
    transform:rotate(-45deg);
    top:0;
    left:0;
}