.pag {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    background: var(--l4);
    border-radius:5px;
}
.pag:hover {
    background:var(--l3);
}
.pag:active  {
    background:var(--l2);
}
.pag span {
    font-size:40px;
    color: var(--l1);
}

.pag_wrap {
    height:40px;
    width:100%;
    margin:0 auto;
    display:flex;
    justify-content:space-between;
}