table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  background: var(--back);
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}
th {
  font-weight: normal;
  color: var(--back_link);
  border-bottom: 2px solid var(--link);
  padding: 10px 8px;
}
td {
  color: var(--link);
  padding: 9px 8px;
  transition: .3s linear;
}
tr:hover td {
  color: var(--back_link);
}
td {
  border-bottom: 1px solid var(--link);
  color: var(--text);
  padding: 9px 8px;
  transition: .3s linear;
}